<div class="row">

	<%= render 'layouts/genre_search' %>

	<div class="col-xs-9">
		<h2>商品一覧</h2>
		<div class="products">
			<% @products.each do |product| %>
			<div class="product">
				<div><%= attachment_image_tag(product, :image, size: "200x150", fallback: "no-image-mini.jpg", class: "img") %></div>
				<p class="product-name"><%= link_to product.name, product_path(product) %></p>
				<p class="product-price">¥<%= product.price %></p>
			</div>
			<% end %>

			<!-- <div class="product">
				<div class="product-index-image"></div>
				<p class="product-name">商品名</p>
				<p class="product-price">¥0,000</p>
			</div>

			<div class="product">
				<div class="product-index-image"></div>
				<p class="product-name">商品名</p>
				<p class="product-price">¥0,000</p>
			</div>

			<div class="product">
				<div class="product-index-image"></div>
				<p class="product-name">商品名</p>
				<p class="product-price">¥0,000</p>
			</div> -->
		</div>
	</div>
</div>