// Place all the styles related to the admin::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h3{
    display: inline-block;
    background-color: #eeeeee;
    padding: 0 10px;
    margin: 0 10px;
   }

p{
    width: 100px;
}

.date{
    width: 300px;
}

.b{
    display: inline-block;
    height: 30px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-font{
 color: white;
 text-decoration: none;
}
.btn-font:hover{
 text-decoration: none;
}