// Place all the styles related to the admin::genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3{
    background-color: #eeeeee;
    padding: 0 10px;
    margin: 0 auto;
   }

.field{
    text-align: center;
    margin-top: 30ox;
}