<!-- サイドバー(ジャンル検索) -->
<div class="col-xs-3">
	<div class="genre-index-wrapper">
		<h5 class="genre-index-title">ジャンル検索</h5>
		<div class="genre-index-items">
			<ul>
				<li class="genre-index-item">ケーキ</li>
				<li class="genre-index-item">焼き菓子</li>
				<li class="genre-index-item">プリン</li>
				<li class="genre-index-item">キャンディ</li>
			</ul>
		</div>
	</div>
</div>